.env
.env/*

.git/
.gitignore
.dockerignore
.docker/
.idea/
.vscode/
*.swp
*.swo
*~

bin/
*.exe
*.test
*.prof
*.log

/tmp/
__pycache__/
*.pyc

/docs/
LICENSE
README.md
CHANGELOG.md

.github/
.gitlab-ci.yml
*.yml